<!-- navigation pattern -->
<nav id="nav" class="navbar">
   <ul class="navbar__list">

     <li class="navbar__item">
       <a class="navbar__link govuk-link--no-visited-state" href="/search?search=" id="view">
         Search
       </a>
     </li>

     <li class="navbar__item">
       <a class="navbar__link navbar__link--active govuk-link--no-visited-state" href="/bill-runs/bill-runs" id="billRuns">
         Bill runs
       </a>
     </li>

     <li class="navbar__item">
       <a class="navbar__link govuk-link--no-visited-state" href="/manage" id="manage">
         Reports
       </a>
     </li>

   </ul>
 </nav>
