{% extends "layout.html" %}

<!--set page title-->
<!--On this page we use the contact ID that we passed through the URL to know the position of the contact in our object-->
{% set title = "You're about to remove " + data.contacts[data.contactID].name %}



{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}




<!--content block-->
{% block content %}

<!-- page title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" novalidate>

     <h1 class="govuk-heading-l">{{title}}</h1>

     <h2 class="govuk-heading-m">Contact details</h2>


      <!--On this page we use the contact ID that we passed through the URL to know the position of the contact in our object, we use it to get the correct name and email in the summary list-->
      {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Name"
        },
        value: {
          text: data.contacts[data.contactID].name|default("Jane Bigglesworth")
        }
      },
      {
        key: {
          text: "Email"
        },
        value: {
          text: data.contacts[data.contactID].email|default("jbigglesworth@gmail.co.uk")
        }
      }
    ]
  }) }}

      {{ govukButton({
  text: "Remove contact"
}) }}

    </form>

  </div>
</div>



{% endblock %}
