{% extends "layout.html" %}



<!--set page title-->
{% set title = "Notification report"%}

{% block pageTitle %}
{{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

<!--phase banner-->
{% include "includes/phase-banner.html" %}

<!--nav menu-->
{% include "includes/nav/nav-bd-manage.html" %}

{% block backContent %}

{% set url = "/manage" %}
{# navigation type set by navType #}
{% if data['navType'] == "backButton" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% elif data['navType'] == "backButtonFixed"%}
{{ govukBackLink({
  text: "Back to manage",
  href: url
}) }}
{% elif data['navType'] == "breadcrumbs"%}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Manage",
      href: "manage"
    }
  ]
}) }}
{% endif %}
{% endblock %}
{% endblock %}

<!--content block-->
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {% include "_includes/notification-table.html" %}

  </div>
</div>





{% endblock %}
