{% extends "layout.html" %}

{% block pageTitle %}
Overview - GOV.UK
{% endblock %}

{% set url = "/search?search=" %}

{% block backContent %}
{# navigation type set by navType #}
{% if data['navType'] == "backButton" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% elif data['navType'] == "backButtonFixed"%}
{{ govukBackLink({
  text: "Back to search",
  href: url
}) }}
{% elif data['navType'] == "breadcrumbs"%}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Search",
      href: url
    }
  ]
}) }}
{% endif %}
{% endblock %}



{% block content %}



<!--if a contact has been removed show the success banner-->
{% if data.successBanner === "true" %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!--the success banner-->
    {% include "includes/contacts/success-banner.html"%}

  </div>
</div>
{% endif%}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Customer</span>
      Bottled Water Plc
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    {% set contactsHtml %}
    <!--if there are contacts show the table else show a message instead-->
    {% if data.contacts.length %}
    <!--the contacts table-->
    {% include "includes/contacts/contacts-table.html" %}
    {% else %}
    <p class="govuk-body">There aren't any contacts to display</p>
    {% endif %}


    <!--add a contact-->
    {{ govukButton({
    text: "Set up a new contact",
    href: "add-a-contact/enter-a-name?contactID="
    }) }}
    {% endset -%}


    {% set licencesHtml %}

    {% include "includes/licences/licences-table.html" %}

    {% endset -%}



    {{ govukTabs({
      items: [
      {
        label: "Licences",
        id: "Licences",
        panel: {
          html: licencesHtml
        }
      },
        {
          label: "Contacts",
          id: "contacts",
          panel: {
            html: contactsHtml
          }
        }
      ]
    }) }}






  </div>
</div>

{% endblock %}
