{% extends "layout.html" %}

{% block pageTitle %}
Contacts table - GOV.UK
{% endblock %}

{% block beforeContent %}

<!-- phase banner -->
{% include "includes/phase-banner.html" %}

<!--no back button-->

{% endblock %}

{% block content %}

<!--if a contact has been removed show the success banner-->
{% if data.successBanner === "true" %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--the success banner-->
    {% include "includes/contacts/success-banner.html"%}

  </div>
</div>
{% endif%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <!--if there are contacts show the table else show a message instead-->
    {% if data.contacts.length %}
    <!--the contacts table-->
    {% include "includes/contacts/contacts-table.html" %}
    {% else %}
    <h1 class="govuk-heading-s">There aren't any contacts to display</h1>
    {% endif %}


    <!--add a contact-->
    {{ govukButton({
    text: "Set up a new contact",
    href: "add-a-contact/enter-a-name?contactID="
    }) }}


  </div>
</div>

{% endblock %}
