{% extends "layout.html" %}

{% block pageTitle %}
Bill runs - GOV.UK
{% endblock %}

{%- from "moj/components/pagination/macro.njk" import mojPagination -%}

{% block beforeContent %}

<!--phase banner-->
{% include "includes/phase-banner.html" %}

<!--nav menu-->
{% include "includes/nav/nav-bd-bill-runs.html" %}

{% block backContent %}

{% if data['navType'] == "backButton" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endif %}
{% endblock %}
{% endblock %}



{% block content %}
<div class="govuk-!-margin-bottom-3"></div>

<!-- page title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">




    <!-- page heading -->
    <!-- <span class="govuk-caption-l">Batch 003265 / 12 June 2019</span> -->
    <h1 class="govuk-heading-l">Bill runs</h1>
<form method="post" novalidate>
    {{ govukButton({
      text: "Create a bill run"
    }) }}


    {% include "includes/bill-runs/bill-runs-table.html" %}

    {{ mojPagination({
      results: {
        from: 10,
        to: 20,
        count: 30
      },
      previous: {
        text: 'Previous',
        href: ''
      },
      next: {
        text: 'Next',
        href: ''
      },
      items: [{
        text: '1',
        href: '/page=1'
      }, {
        text: '2',
        href: '/page=2',
        selected: true
      }, {
        text: '3',
        href: '/page=3'
      }]
    }) }}



</form>
  </div>
</div>
{% endblock %}
