{% extends "layout.html" %}

{% block pageTitle %}
Licence summary - GOV.UK
{% endblock %}

{% block beforeContent %}

<!-- phase banner -->
{% include "includes/phase-banner.html" %}

<!--no back button-->

{% endblock %}

{% block content %}


{# get the licences array of objects #}
{% set licences = data['licences']%}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Licence {{licences[data.licenceID].licenceNumber}}</span>
      {{licences[data.licenceID].licenceName}}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<form method="post" novalidate>
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "License name"
          },
          value: {
            text: licences[data.licenceID].licenceName| safe
          }
        },
        {
          key: {
            text: "Effective from"
          },
          value: {
            text: licences[data.licenceID].startDate
          }
        },
        {
          key: {
            text: "End date"
          },
          value: {
            text: licences[data.licenceID].endDate
          }
        },
        {
          key: {
            text: "License holder"
          },
          value: {
            text: licences[data.licenceID].licenceHolder| safe
          }
        },
        {
          key: {
            text: "Source of supply"
          },
          value: {
            text: licences[data.licenceID].sourceOfSupply
          }
        },
        {
          key: {
            text: "Purpose"
          },
          value: {
            text: licences[data.licenceID].purpose
          }
        },
        {
          key: {
            text: "Period of abstraction"
          },
          value: {
            text: licences[data.licenceID].periodOfAbstraction
          }
        },
        {
          key: {
            text: "Points of abstraction"
          },
          value: {
            text: licences[data.licenceID].pointsOfAbstraction| safe
          }
        },
        {
          key: {
            text: "Abstraction conditions"
          },
          value: {
            text: licences[data.licenceID].abstractionConditions| safe
          }
        },
        {
          key: {
            text: "Abstraction amounts"
          },
          value: {
            text: licences[data.licenceID].abstractionAmounts| safe
          }
        }
      ]
    }) }}
  </form>





  </div>
</div>

{% endblock %}
