{# get the contacts array of objects #}
{% set contacts = data['contacts']%}


{# set a blank array for the contact List #}
{% set contactList = [] %}

{# Loop through the rows and push the contacts into the list, this uses a custom filter "push" this is in filters.js#}
{# The third column is a little different, it contains the link to remove the row, we do this by using the loop index to know the position of the name in our object#}
{% for i in contacts %}
{% set anchor = "remove-a-contact/youre-about-to-remove-a-contact?contactID=" + loop.index0 %}
{% set contactList = contactList | push([
{text: i.name},
{text: i.email},
{html: '<a class="govuk-link" href="remove-a-contact/youre-about-to-remove-a-contact?contactID=' +  loop.index0 +'">
        Remove<span class="govuk-visually-hidden">' + i.name + '</span>
      </a>'}
]) %}
{% endfor %}

{# create the table and reference the rows array#}
{{ govukTable({
  caption: "Contacts",
  captionClasses: "govuk-table__caption--l",
  firstCellIsHeader: false,
  head: [
    {
      text: "Name"
    },
    {
      text: "Email"
    },
    {
      text: "Action"
    }
  ],
  rows: contactList
}) }}
