{% extends "layout.html" %}

{% block pageTitle %}
Add someone one to a table
{% endblock %}

{% block beforeContent %}

<!-- phase banner -->
{% include "includes/phase-banner.html" %}

<!--no back button-->

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Add someone one to a table
      <span class="govuk-caption-xl">{{releaseVersion}}</span>
    </h1>{{releaseVersion | log }}
    <p>
      This prototype is to demonstrate how you can use the prototype kit to create a more complex data model and print those items into a table.
    </p>


    <h2 class="govuk-heading-m">The table</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="contacts/contacts-info">Contacts table</a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">The flow</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="contacts/add-a-contact/enter-a-name">Add someone to the table</a>
      </li>
    </ul>



  </div>
</div>

{% endblock %}
