{% extends "layout.html" %}

{% block pageTitle %}
Prototype
{% endblock %}

{% block beforeContent %}

<!-- phase banner -->
{% include "includes/phase-banner.html" %}

<!--no back button-->

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
    Prototype
      <span class="govuk-caption-xl">{{releaseVersion}}</span>
    </h1>{{releaseVersion | log }}
    <p>
      This prototype is to user research how people view customers on the service.
    </p>

    <h2 class="govuk-heading-m">Start point</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="search">Search</a>
      </li>
    </ul>


    <h2 class="govuk-heading-m">The customer</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="contacts/contacts-info">Contacts table</a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">The flow</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="contacts/add-a-contact/enter-a-name">Add someone to the table</a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">Nav type set to {{data['navType']}}</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="nav-type">Nav type</a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
