{% extends "layout.html" %}

{% if data['search'].length %}
<!--set title-->
{% set title = 'Search results for "' + data['search']+ '"' %}
{% else %}
{% set title = "Search" %}
{% endif %}

{% block pageTitle %}
{{title + "- GOV.UK"}}

{% endblock %}

{% block backContent %}
{# navigation type set by navType #}
{% if data['navType'] == "backButton" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endif %}
{% endblock %}


{% block content %}

<!-- page title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l govuk-margin-bottom-0">{{title}}</h1>

    <form method="post" action="search" novalidate>

      <label class="govuk-hint govuk-!-margin-bottom-3" for="search">
        Name, email return reference or licence
      </label>
      <input class="govuk-input govuk-!-width-two-thirds govuk-!-display-inline-block" id="search" name="search" type="text">

      {{ govukButton({
        text: "Search",
        classes: "govuk-!-display-inline-block govuk-!-padding-right-6 govuk-!-padding-left-6"
      }) }}


    </form>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <!-- find the correct table-->
    {% set term = data['search'] %}
    {% set resultsTable = "_includes/customers-table.html" %}

    {# customer data #}
    {% set customers = data['customers'] %}
    {% for customer in customers %}
    {% if customer.name |lower == term | lower or (term == "*") %}
    {% set resultsTable = "_includes/customers-table.html" %}
    {% endif %}
    {% endfor %}


    {# licences data #}
    {% set licences = data['licences'] %}
    {% for licence in licences %}
    {% if (licence.licenceNumber |lower == term | lower) or (term == "/") %}
    {% set resultsTable = "_includes/licences-table.html" %}
    {% endif %}
    {% endfor %}


    {% if term.length %}
  <!-- results table -->
  {% include resultsTable | default("sandbox/_includes/stations-table.html") %}
  {% endif %}


  </div>
</div>

{% endblock %}
